<div>
    <h1>Real TIme products</h1>

  

    <div>
   

    <h3>Lista de productos</h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Thumbnails</th>
                <th>Code</th>
                <th>Category</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>

            </tr>
         
        </tbody>
    </table>
</div>

</div>


  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script> 